body 
{
    padding: 0px;
    margin: 0px;
    background: #f2f6e9;
    background-image: url('img/bckgnd.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item
{
    left: 16%;
    margin-top: 50px;
    margin-bottom: 60px;
    
}

.description 
{
    margin-top : 4%;
    text-align: center;
}
   
.description h1 
{
    
        font-family: 'Lobster', Georgia, Times, serif;
        font-size: 50px;
        line-height: 100px;
    
}

.description p 
{
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    line-height: 1.5;
}

.description button 
{
    border-radius :2px;
    background-color: white;
    color: rgb(46, 46, 46);
    font-family : 'Cabin', Helvetica, Arial, sans-serif;
}
   
.description button:hover 
{
    background-color: #fc5c65;
    color: white;
}

.feature-title 
{
    color: #333;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Allan', Helvetica, Arial, sans-serif;
}

.features .btn 
{
    background-color: #f04949;
    border: 1px solid #ff0202;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 50px;
}

.features .btn:hover 
{
    background-color: #333;
    border: 1px solid #333;
}
   
   