#addProductButton{
    cursor: pointer;
    color:white;
    background-color:#50e243;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    border: none;
    margin-top : 25px;
}

#gererVendeursButton{
    cursor: pointer;
    color:white;
    background-color:#43cfe2;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    border: none;
    margin-top : 25px;
}

#nav{
    background-color: #ffffff;
    height: 90%;
    width: 22%;
    float: left;
    padding: 5px;
    text-align: center;
}

#pseudoVendeur{
    height :auto;
    width : auto;
    text-align: center;
    margin-right: 20px;
    font-size: 40px;
}

#photo{
    border-style: solid;
    background-color : #4a69bd;
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
}

#section{
    background-color: #2c3e50;
    width: 78%;
    float: left;
    padding: 5px;
    height: 90%;
}

/*            
* Au dessus : la page elle même
* En dessous : les blindages
*
*
*
*
*/

body
{
    
    background: url(img/degrade.jpg) no-repeat center fixed; 
    background-size: cover;
}

.bord
{ 
  font-family : Ebrima;
  font-size:20px;
  width: 50%;
  border: 6px solid #ffe0ef;
  border-radius: 12px;
  margin: auto;
    
}

#centrerB
{
  text-align: center;
}

#submitB
{
    cursor: pointer;
    color:white;
    background-color:#00d8a5;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 14px 40px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      
}

.titre
{
	color: #ffe0ef;
    font-family: Ebrima;
    text-align: center;
	font-size:30px;
	text-shadow: 2px 1px rgba(0,0,0,0.19);
}

