body 
{
    padding: 0px;
    margin: 0px;
    background: #f2f6e9;
    background-image: url('background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
