.logForm
{
    
    font-family: Ebrima;
    text-align: center;
    color: white;
    font-size:20px;
    width: 34%;
    border: 2px solid rgba(255, 255, 255, 0.596);
    border-radius: 12px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top : 60px;
    background-color: rgba(0, 0, 0, 0.178);
    margin-bottom: 40px;

}

#loginInterface
{
    background-color: transparent; 
    color: white;
    font-weight: bold;
    font-family: Calibri;
    text-align: center;
    font-size: 25px;
    border-radius: 25px 25px 25px 25px;
    margin: auto;
   
}


#button
{
    cursor: pointer;
    color:white;
    background-color:rgb(248, 158, 170);
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border: none;
    padding: 10px 35px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 50px;
}

#button:hover
{
    background-color: rgb(198, 156, 247);
}

input[type=text] 
{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width:100%;
}
  
input[type=text]:focus 
{
    border: 2px solid #555;
}

input[type=password] 
{
    
    width:100%;
    border: 1px solid rgb(255, 155, 170);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
   text-align : center;
}
  
input[type=password]:focus 
{
    border: 2px solid rgb(252, 158, 158);
}


body
{
    
    background: url(img/bckgnd.jpg) no-repeat center fixed; 
    background-size: cover;
}

td 
{
  height: 60px;
  vertical-align: bottom;
}