#nav{
    background-color: #ffffff;
    height: 90%;
    width: 22%;
    float: left;
    padding: 5px;
}

#photo{
    background-color : #4a69bd;
    height: 200px;
    width: 200px;
    margin: auto;
    
}

#section{
    background-color: #63cdda;
    width: 78%;
    float: left;
    padding: 5px;
    height: 90%;
}

