body 
{
    padding: 0px;
    margin: 0px;
    background: #f2f6e9;
    background-image: url('img/bckgnd.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bord
{ 
  font-family : Ebrima;
  font-size:20px;
  text-align: center;
}

#centrerB{
    text-align: center;
}

.description 
{
    left: 50%;
    position: absolute;
    top: 20%;
    transform: translate(-50%, -55%);
    text-align: center;
    
}
   
.description h1 
{
    color: #5352ed;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-size: 40px;
    line-height: 65px;
    
}

.feature-title 
{
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 50px;
    margin-top: 40px;
    text-transform: uppercase;
    text-align : center;
}

input[type=text] 
{
    
    width : 30%;
    border: 1px solid rgba(82, 82, 82, 0.082);
    border-radius:2px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size : 18px;
   text-align : center;
}

input[type=text]:focus 
{
    border: 4px solid rgb(255, 110, 110);
}

.container-fluid
{
    margin-bottom: 170px;
}

.features .btn 
{
    background-color: #5352ed;
    color: #fff;
    margin-top: 20px;
}

.features .btn:hover 
{
    background-color: #333;
    border: 1px solid #333;
}

.img-fluid
{
    text-align:center;
    border-radius:2px;
}

.row
{
    background-color: rgba(0, 0, 0, 0.096);
    text-align: center;
   
}

.p
{
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size: 15px;
    line-height: 25px;
}

#submitB
{
    cursor: pointer;
    color:white;
    background-color:#a29bfe;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 14px 40px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      
}

#submitB:hover
{
    background-color: #ffcccc;
}