.uploadImgUser
{

    font-family: Ebrima;
    text-align: center;
    font-size:19px;
    color: #ffe0ef;
    width: 40%;
    border: 3px solid white;
    border-radius: 12px;
    padding: 35px;
    margin-left : auto;
    margin-right : auto;
    margin-top : 50px;
    background-color: rgba(0, 0, 0, 0.274);
}


.button
{
    cursor: pointer;
    color:white;
    background-color:#fc5c65;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border: none;
    padding: 15px 35px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input[type=text] 
{
    
    width : 250px;
    border: 2px solid rgb(252, 205, 212);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size : 18px;
   text-align : center;
}
  
input[type=text]:focus 
{
    border: 2px solid #555;
}

#submitB
{
    cursor: pointer;
    color:white;
    background-color:#e28a43;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 10px 35px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}

body
{
    
    background: url(img/degrade.jpg) no-repeat center fixed; 
    background-size: cover;
}

td 
{
  height: 60px;
  vertical-align: bottom;
}